.baixomuitograve{
    background-color: blue;
}
.baixograve{
    background-color: cornflowerblue;
}
.baixo{
    background-color: aqua;
}
.ideal{
    background-color: green;
}
.sobrepeso{
    background-color: gold;
}
.obesidade1{
    background-color: red;
}
.obesidade2{
    background-color: orangered;
}
.obesidade3{
    background-color: brown;
}