a {
    font-family: roboto;
}

header {
    background-color: grey;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

footer {
    background-color: grey;
}
.baixomuitograve{
    background-color: blue;
}
.baixograve{
    background-color: cornflowerblue;
}
.baixo{
    background-color: aqua;
}
.ideal{
    background-color: green;
}
.sobrepeso{
    background-color: gold;
}
.obesidade1{
    background-color: red;
}
.obesidade2{
    background-color: orangered;
}
.obesidade3{
    background-color: brown;
}